$bgPrimary: #D0D3D8; 
$bgSecundary: #F2F2F2; 
$colorPrimary: #0081CF; 
$colorSecundary: #63B5FF; 
$colorCardPrimary: #32add3; 
$colorCardSecundary: #dfdc4d; 
$colorCardThird: #5fd332; 
$colorBtn: #63df58; 